{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "airbnb-base",
	"rules": {
		"indent": ["off", 2],
		"no-tabs": 0,
		"arrow-body-style": [
			"error",
			"always"
		],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"max-len": ["error", {"code": 200}],
		"comma-dangle": [
			"error",
			"never"
		]
	}
}
